{% extends "base.html" %}

{% load static %}

{% block css %}

{% endblock %}

{% block title %}Add Choice{% endblock %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <h1>Create a Choice</h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
       <form action="/addChoice/{{sugg_id}}/", method ="post">{% csrf_token %}
       {{form}}
       <input type="submit" value="Create Choice" class="button"/>
    </div>
</div>
{% endblock content %}
