{% extends "base.html" %}

{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "css/createTrip.css" %}">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block header%}
    <h1 class="text-center">Create a new Trip {{data}}</h1>
{% endblock header %}

{% block content %}

<div class="container">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <form action="/addtrip/", method ="post">{% csrf_token %}
            {{form}}
            <p>Invite Friends:</p>
               <div class="friends scroll">
                  
                  {%for f in friends %}
                     <input type="checkbox" class="check" id={{f.id}} name="{{f}}" value="{{f}}">
                     <label for={{f.id}} class="friendLabel">{{f}}</label><br>  
                  {% endfor %}
               </div>
               <input type="submit" value="Create New Trip" class="button"/>
         </form>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>

{% endblock content %}
