{% extends "base.html" %}

{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "css/createTrip.css" %}">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block header%}
    <h1 class="text-center">Create a new Trip {{data}}</h1>
{% endblock header %}

{% block content %}

<div class="grid-x grid-padding-x">
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <form action="/addtrip/", method ="post">{% csrf_token %}
        {{form}}
            <input type="submit" value="Create New Trip" class="button"/>
    </form>
    <p>{{status}}</p>
  </div>
</div>

{% endblock content %}
