{% extends "base.html" %}

{% load static %}

{% block title %}{{tripID}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/tripdetails.css" %}">
{% endblock css %}
{% block header%}

{% endblock header%}

{% block content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <nav id="navbar">
          <h1 class="text-center title">{{name}} </h1>
          <ul>
              <li><a href="/tripdetails/{{id}}/categoryPage/1">Traveling</a></li>
              <li><a href="/tripdetails/{{id}}/categoryPage/2">Housing</a></li>
              <li><a href="/tripdetails/{{id}}/categoryPage/3">Food</a></li>
          </ul>
        </nav>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h1 class="text-center title">{{catTitle}} </h1>
          {%if owner %}
            <button class="button text-center" onclick="window.location.href='/addSuggestion/{{catTitle}}/{{id}}'">Add Suggestion</button>
          {% endif %}
      </div>
    </div>
    <div class="row">
      <p class="text-center">
        Cost:
        {{ categoryCost }}
      </p>
    </div>
    <div class="row">
        <ul>
            {%for i in qList%}
                <a href="/displaysuggestion/{{i.id}}"><li>{{i.text}}</li></a>
            {%endfor%}
        </ul>
    </div>
</div>

{% endblock content %}
