{% extends "base.html" %}

{% load static %}
{% load friendshiptags %}

{% block title %}{{title}}{% endblock %}

{% block header%}
   <h1 class="text-center text-dark">{{ name }}</h1>
   {% if button %}
      <form action="/friendship/friend/add/{{to}}/" method='GET'> {% csrf_token %}
         <input type="submit" class="button expanded" value="Add Friend"/>
      </form>
   {% endif %}
{%endblock header%}

{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-9">
            <h2 class="text-center">{{tripTitle}}</h2>
            <table class="table table-hover table-bordered">
               <tr class="thead-dark">
                  <th>Event Name</th>
                  <th>Event Date</th>
               </tr>
               {% for i in data %}
                  <tr>
                     <td>{{i.location}}</td>
                     <td>{{i.date}}</td>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-9">
            {% if not button %}
               <h2 class="text-center">Friend Requests</h2>
               {% friend_requests request.user %}
            {% endif %}
         </div>
      </div>
   </div>
   <!-- ADD MORE CONTAINERS HERE -->
   
{% endblock content %} 
    

{% block script %}

{% endblock script %}
