{% extends "base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block header%}
   <h1 class="text-center">Hello {{ name }}</h1>
   <p class="text-center">You have successfully logged in!</p>
{%endblock header%}

{% block content %}
   <div style="width:50%">
      <h2 class="text-center">My Trips</h2>
      <table style="width:100%">
         <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th># of Attendees</th>
            <th># Invited</th>
         </tr>
         {% for i in data %}
            <tr>
               <td>{{i.location}}</td>
               <td>{{i.date}}</td>
               <td>{{i.attendants}}</td>
               <td>{{i.invited}}</td>
            </tr>
         {% endfor %}
      </table>
   </div>
{% endblock content %} 
    

{% block script %}

{% endblock script %}
