{% extends "base.html" %}

{% load static %}
{% load friendshiptags %}
{% block css %}
<link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block header%}
   <div class="container">   
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-3">
             <h1 class="text-center text-dark">{{ name }}</h1>
         </div>
         <div class="col-md-5">
      {% if not button and fromreqs%}
         <div class="dropdown">
            <p class="fr">Friend Requests: <span class="link">{{fromreqs}}</span></p>
            <div class="dropdown-content">
               {% friend_requests request.user %} <!-- friend_requests.html -->
            </div>
         </div>
   
      {% endif %}
         </div>
      </div>
   </div>
   {% if not arefriends and button and not sentreqs %}
      <form action="/friendship/friend/add/{{to}}/" method='POST'> {% csrf_token %}
         <input type="submit" class="button expanded" value="Add Friend"/>
      </form>
      {% if messages %}
         <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
         </ul>
      {% endif %}
   {% endif %}
{%endblock header%}
<!-- Trip Table -->
{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-9">
            <h2 class="text-center">{{tripTitle}}</h2>
            <table class="table table-hover table-bordered">
               <tr class="thead-dark">
                  <th>Event Name</th>
                  <th>Event Date</th>
               </tr>
               {% for i in data %}
                  <tr>
                     <td><a href="/tripdetails/{{i.id}}">{{i.location}}</a></td>
                     <td>{{i.date}}</td>
                  </tr>
               {% endfor %}
            </table>
         </div>
        
            <!-- Maybe -->
         </div>
      </div>
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-5">
            {% if not button %}
               <h2>Friends</h2>
               {% friends request.user %}

            {% endif %}
         </div>
         <div class="col-md-4">
            {% if not button %}
            <h2>Trip Invites</h2>
            <ul>
               {% for i in tripInvites %}
                  <li><a href="/tripdetails/{{i.tripID}}">{{i.name}}</a> {{i.from}}</li>
               {% endfor %}
            </ul>
            {% endif %}
         </div>
      </div>
   </div>
   <!-- ADD MORE CONTAINERS HERE -->
   {% if attending %}
   <div class="container">
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-9">
            <h2 class="text-center">{{attendingTitle}}</h2>
            <table class="table table-hover table-bordered">
               <tr class="thead-dark">
                  <th>Event Name</th>
                  <th>Event Date</th>
               </tr>
               {% for i in attending %}
                  <tr>
                     <td><a href="/tripdetails/{{i.id}}">{{i.location}}</a></td>
                     <td>{{i.date}}</td>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>
   </div>
   {% endif %}

{% endblock content %} 
    

{% block script %}

{% endblock script %}
