{% extends "base.html"%}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block header%}
   <h1 class="text-center">{{title}}</h1>
{%endblock header%}

{% block content %}
<div class="container">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
         <h2 class="text-center">Public Trips</h2>
         <table class="table table-hover table-bordered">
            <tr class="thead-dark">
               <th>Name</th>
               <th>Host</th>
               <th>Date</th>
               <th>Attendees</th>
               <th>Invited</th>
            </tr>
            {% for i in data %}
               <tr>
                  <td>{{i.location}}</td>
                  <td>{{i.author}}</td>
                  <td>{{i.date}}</td>
                  <td>{{i.attendants}}</td>
                  <td>{{i.invited}}</td>
               </tr>
            {% endfor %}
         </table>
      </div>
   </div>
</div>
{% endblock content %} 


{% block script %}

{% endblock script %}