{% extends "base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block header%}
    <h1 class="text-center"> {{title}}</h1>
{% endblock header %}

{% block content %}

<div>
  <div>
    {% if not isauthor and not isattending %}
      {% if invited %}
          <form action="/acceptTripReq/{{id}}/" method='POST'> {% csrf_token %}
            <input type="submit" class="button expanded" value="Join Trip"/>
          </form>
      {% endif %}

      {% if not invited %}
        <form action="/joinTrip/{{id}}/" method='POST'> {% csrf_token %}
          <input type="submit" class="button expanded" value="Join Trip"/>
        </form>
      {% endif %}
    {%endif%}
  </div>
</div>

{% endblock content %}