{% extends "base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block header%}
    <h1 class="text-center"> {{title}}</h1>
{% endblock header %}

<style>
.detailsDiv{
  text-align: center;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
</style>

{% block content %}

<div class="Container">
  <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3">
          {% if not isauthor and not isattending %}
              {% if isinvited %}
                  <form action="/acceptTripReq/{{id}}/" method='POST'> {% csrf_token %}
                    <input type="submit" class="button" value="Accept Trip Request"/>
                  </form>
              {% endif %}

              {% if not isinvited %}
                  {% if public %}
                    <form action="/joinTrip/{{id}}/" method='POST'> {% csrf_token %}
                      <input type="submit" class="button" value="Join Trip"/>
                    </form>
                  {% endif %}
              {% endif %}
          {%endif%}
          {% if isattending %}
            <form action="/cancelJoin/{{id}}/" method='POST'> {% csrf_token %}
              <input type="submit" class="button" value="Cancel Join"/>
            </form>
          {% endif %}
      </div>
      <div class="col-md-3"></div>

  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h3 class="text-center"> Event Details</h3>
        <p class="text-center"> Where are we going: {{title}} </p>
        <p class="text-center"> When are we going: {{date}} </p>
        <p class="text-center"> How many are going: {{attendants}} </p>
    </div>
  </div>
</div>
<div class="container .detailsDiv">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <table class="table table-hover table-bordered">
          <tr class="thead-dark">
            <th>Category</th>
          </tr>
          <tr type="button">
              <td class="text-center">Traveling</td> 
          </tr>
          <tr type="button">
              <td class="text-center">Housing</td> 
          </tr>
          <tr type="button">
              <td class="text-center">Food</td> 
          </tr>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>



{% endblock content %}