{% extends "base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block header%}
    <h1 class="text-center"> {{title}}</h1>
{% endblock header %}

{% block content %}

<div>
  <div>
    <div class="text-center"> Event Details</div>
      <div>
        <li class="text-center"> Where are we going: {{title}} </li>
        <li class="text-center"> When are we going: {{date}} </li>
        <li class="text-center"> How many are going: {{attendants}} </li>
      </div>
  </div>
</div>

{% endblock content %}