{% load static %}

<div class="wrapper" id="navcomp">
    <nav id="sidebar" class="bg-light">
      <div class="sidebar-header">
        <h3>MoneyPool</h3>
      </div>
        <ul class="list-unstyled components">
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <span data-feather="file"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addtrip">
              <span data-feather="bar-chart-2"></span>
              Create a New Trip
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findUsers">
              <span data-feather="users"></span>
              Find Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewtrips">
              <span data-feather="layers"></span>
              Find Trips
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
            Logout
            </a>
          </li>
        </ul>
    </nav>
</div>
