/*NAVIGATION*/
#navbar {
    background-color: black;
    z-index: 1000;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        li {
            padding: 15px 5px;
            text-transform: uppercase;
        }
    }
    a {
        color: white;
        text-decoration: none;
        font-size: 120%;
    }
    a:hover{
       font-weight: bold;
       color: rgba(247, 239, 204, 0.945);
       background-color: rgba(247, 124, 75, 0.199);
    } 
}

.title {
    color: rgba(247, 239, 204, 0.945);
}
